* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    
}

.profile__container {
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 5rem;
    background: var(--primary-light);
    width: 50vw;
    max-width: 400px;
    color: white;
}

.name ,.email {
    margin-bottom: 1rem;
}