@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tagbanwa&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans Tagbanwa', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.sign-up-container {
    
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 100vw;
    max-width: 400px;
    margin-bottom: .75rem;
    box-shadow: -7px -8px 46px -15px rgba(0,0,0,0.5);
    -webkit-box-shadow: -7px -8px 46px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: -7px -8px 46px -15px rgba(0,0,0,0.5);
}

input {
    display: block;
    margin-top: .25rem;
    margin-bottom: 1rem;
    padding: .75rem;
    border: 1px solid grey;
    border-radius: 10px;
    width: 100%;
}

/* input:required:invalid{
    border-color: red;
}

input:required:valid {
    border-color: green;
} */

button {
    border: 1px solid transparent;
    border-radius: 10px;
    width: 100%;
    padding: .75rem;
    background: #9DC08B;
    color: white;
}

button:hover {
    background: transparent;
    border-color: #9DC08B;
    color: #9DC08B;
}


h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.to-log-in {
    color: #9DC08B;
    text-decoration: none;
}

.error {
    background: #F55050;
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: 10px;
    text-align: center;
    
}

.password-validation {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: .2rem;
    margin-bottom: .75rem;
    font-size: .75rem;
    
}

.password-validation div {
    margin-bottom: .2rem;
}