.to-log-in {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
}

.password-validation {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: .2rem;
    margin-bottom: .75rem;
    font-size: .75rem;
    
}

.password-validation div {
    margin-bottom: .2rem;
}