.header {
    box-shadow: 0px 7px 52px 15px rgba(170,171,171,0.84);
-webkit-box-shadow: 0px 7px 52px 15px rgba(170,171,171,0.84);
-moz-box-shadow: 0px 7px 52px 15px rgba(170,171,171,0.84);
    position: relative;
    
}



main {
    background: var(--bg);
}

.logo-main {
    width: 120px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    
    
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu-item li {
    list-style-type: none;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.log {
    text-decoration: none;
    font-weight: 600;
    color: black;
    padding: .5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    background: var(--primary-variant);
    transition: var(--transition);
}

.log:hover {
    filter: brightness(80%);
}

@media screen and (max-width: 1100px) {
    .menu-item {
        margin-right: 1rem;
    }
}