.header {
    box-shadow: 1px 3px 50px -10px rgba(250,148,148,0.68);
    -webkit-box-shadow: 1px 3px 50px -10px rgba(250,148,148,0.68);
    -moz-box-shadow: 1px 3px 50px -10px rgba(250,148,148,0.68);
}

.logo-main {
    width: 150px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu-item li {
    list-style-type: none;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.log {
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: .5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    background: var(--primary-variant);
    transition: var(--transition);
}

.log:hover {
    filter: brightness(80%);
}

@media screen and (max-width: 1100px) {
    .menu-item {
        margin-right: 1rem;
    }
}