.add-food input {
    background: var(--primary-box);
    border: 1px solid var(--primary);
    margin-bottom: 0;
    color: var(--primary-text);
}

.add-food  img {
    width: 2rem;
    display: inline-block;
}

.add-food h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-text);
}

.add-food ul {
    list-style-type: none;
    padding: 1rem 0;
    border-radius: 1rem;
    display: flex;
    height: 500px;
    overflow: hidden;
    overflow: scroll;
    flex-direction: column;
    color: var(--primary-text);
    gap: .75rem;
}

.add-food ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    /* background: var(--primary-box); */
    padding: .5rem 0;
    color: var(--primary-text);
}

.add-food ul li .item {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.add-food ul li .item-input {
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.pop-up {
    background: var(--primary-variant);
}

.add-food ul li .item-input .quantity {
    width: 3rem;
}

.add-food ul li .item-input .unit {
    width: 6rem;
}

.add-food ul li:hover {
    opacity: .7;
    background: var(--primary-box);
    border-radius: 5px;
}

.add-food .common,
.add-food  .branded {
    color: var(--primary-variant);
    font-weight: 900;
    margin: 1rem 0
}


.add-food {
    height: 650px;
    width: 500px;
    border-radius: 1rem;
    position: absolute;
    background: var(--primary-dropdown);
    backdrop-filter: blur(30px);
    transition: var(--transition);
    opacity: 0;
    padding: 2rem;
}

.add-food .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    
}

.add-food .close:hover div {
    background: var(--primary-variant);
}

.add-food .close div {
    content: '';
    width: 25px;
    height: 5px;
    background: var(--primary-text);
    margin-bottom: 5px;
    transition: var(--transition);
}

.add-food .close :first-child {
    transform: rotate(45deg) translate(7px,7px);
} 

.add-food .close :last-child {
    transform: rotate(-45deg);
}


.openAddFood {
    opacity: 1 !important;
}




.nutrition h1 {
    text-align: center;
    width: 100%;
    color: var(--primary-text);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3.5rem;
}

.nutrition-container {
    background: var(--primary-dashboard);
    width: 1100px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem 0;
}

.nutrition-content {
    
    height: 70%;
    width: 80%;
    display: grid;
    grid-template-rows: max-content 1fr;
    border-radius: 1rem;
    
}

.nutrition-display,
.nutrition-log {
    background: var(--primary-box);
    border-radius: 1rem;
    overflow: hidden;
}



@media screen and (max-width: 1500px) {
    .nutrition-container {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .nutrition-display {
        flex-direction: column;
        gap: 2rem !important;
    }


    .nutrition-detail {
        gap: 3rem;
    }

    .progress-circle {
        right: 8px !important;
    }
}

@media screen and (max-width: 600px) {
    .nutrition h1 {
        font-size: 2rem;
    }

    .nutrition-display {
        gap: 2rem !important;
    }

    .nutrition-detail {
        gap: 1.5rem !important;
    }
}

.nutrition-log {
    display: flex;
    flex-direction: column;
    
}

.breakfast,
.lunch,
.dinner,
.snack {
    background: var(--primary-box);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: 1px solid var(--primary-dashboard);
}

.nutrition-log h3 {
    padding: .5rem;
    color: var(--primary-text);
}

.log-food-icon {
    font-size: 2rem;
    color: var(--primary-variant);
    cursor: pointer;
}

.log-item div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

.log-item .item ul {
    color: var(--primary-text);
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: .75rem;
    width: 100%;
}

.log-item .item {
    padding: 0;
}

.log-item .item ul li {
    text-transform: capitalize;
}

.food-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-box);
    padding: .2rem 1rem;
}

.food-selected-calories {
    margin-left: 1rem;
    background: linear-gradient(92deg,var(--primary-variant), var(--primary-fade) );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nutrition-check .request_form h4 {
    font-size: 4rem;
    width: 52%;
    text-align: center;
}