.calories {
    text-align: center;
    padding: 2rem 1rem;
    
}

.maintain,
.lose,
.gain {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem 0;
    border-radius: 1rem;
    background: var(--primary-box);
    margin-top: 1rem;
}

.calories_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.calories_content h4 {
    background: linear-gradient(92deg,var(--primary-variant), lightyellow );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.request_form {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
}

.request_form h4 {
    font-size: 2rem;
    background: linear-gradient(92deg,var(--primary-variant), lightyellow );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.lock-icon {
    font-size: 3rem;
    color: var(--primary-variant);
}