.dashboard-main-container  {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    max-width: 1500px;
    height: max-content;
    color: var(--primary-text);
    gap: 2rem;
}

.dashboard-main-item h3 {
    height: max-content;
    font-weight: 900;
    font-size: 2rem;
} 

.bmi-calories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
}


.dashboard-main-first {
    display: grid;
    grid-template-columns: 45% 1fr;
    height: 100%;
    gap: 2rem;
}

.dashboard-main-first .tabs,
.dashboard-main-second .tabs {
    background: var(--primary-dashboard);
    border-radius: 1rem;
    transition: var(--transition);
}

.dashboard-main-first .tabs:hover,
.dashboard-main-second .tabs:hover {
    box-shadow: 0px 0px 86px -28px rgba(164,251,166,0.56);
    -webkit-box-shadow: 0px 0px 86px -28px rgba(164,251,166,0.56);
    -moz-box-shadow: 0px 0px 86px -28px rgba(164,251,166,0.56);
        
}

.dashboard-main-second {
    display: grid;
    grid-template-columns: 1fr 1fr max-content;
    height: 100%;
    gap: 2rem;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph {
    width: 100%;
}

@media screen and (max-width: 1900px) {
    .dashboard-main-container {
        width: 1400px;
    }


}


@media screen and (max-width: 1650px) {
    

    .dashboard-main-container {
        width: 900px;
    }

    .dashboard-main-first {
        
        grid-template-columns: 1fr;
    }

    .dashboard-main-second {
        grid-template-columns: 1fr;
    }

    .weight-history {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none !important;
    }

    .history-item {
        padding: 1rem 1rem !important;
    }


    
}

@media screen and (max-width: 1350px) {
    .dashboard-main-container {
        width: 700px;
    }

    .bmi-calories {
        grid-template-columns: 1fr;
    }

    .graph {
        width: 95%;
    }

}

@media screen and (max-width: 1000px) {
    .dashboard-main-container {
        width: 70vw;
    }

    .weight-history {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none !important;
    }

    .history-item {
        padding: 1rem 3rem !important;
    }
}

.current-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.current-title {
    margin-bottom: 2rem;
}

.current-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    background: var(--primary-box);
    padding: .5rem;
    border-radius: 1rem;
}