.log-container{
    display:flex;
}

.workoutLog-Greeting{
    display: flex;
    padding: 2rem;
    padding-top:3rem;
    justify-content: center;
    margin: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.workoutObj{
    display:flex;
    flex-direction: row;
    flex-direction: left;
    flex-wrap: wrap;
}

#welcome{
    animation: fadeIn 5s; 
    color:#a4fba6;
    outline: 1px solid #a4fba6;
    padding: .5rem;
    width: 80%;
    border-radius: 90px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#add-btn{
    color: var(--primary-variant);
}

#add-btn:hover {
    background-color:rgba(255,255,255,0.3) ;
}
