    
.user-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1100px;
    width: 100vw;

}

.user-avatar{
    background: var(--primary-dashboard);
    border-radius: 1rem;
}

.user-avatar {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary-text);
    transition: var(--transition);
}

.user-avatar .user-name {
    padding: .75rem 1rem;
    border-radius: 1rem;
    background: var(--primary-box);
}

.user-avatar .user-img {
    padding: 1rem;
    border-radius: 100%;
    border: 1px dotted var(--primary-variant);
    transition: all 800ms ease;
}

.user-avatar .user-img:hover {
    transform: rotate(360deg);
}

.user-avatar:hover ,
.user-data:hover,
.user-contact:hover {
    box-shadow: 0px 0px 86px -28px rgba(164,251,166,0.56);
-webkit-box-shadow: 0px 0px 86px -28px rgba(164,251,166,0.56);
-moz-box-shadow: 0px 0px 86px -28px rgba(164,251,166,0.56);
}

.user-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    transition: var(--transition);
}

.user-data,
.user-contact {
    background: var(--primary-dashboard);
    border-radius: 1rem;
    color: var(--primary-text);
    text-align: center;
    transition: var(--transition); 
    padding: 2rem;
    
}

.user-data .title,
.user-contact .title,
.biometric-data .title {
    display: block !important;
    text-transform: capitalize !important;
    font-weight: 900;
    font-size: 2rem;
    padding: .75rem 1rem;
    background: var(--primary-box);
    border-radius: 1rem;
    margin: auto;
    text-align: center;
}

.user-field {
    margin-top: 3rem;
    background: var(--primary-box);
    padding: .75rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.field-name {
    font-weight: 900;
}

.field-item {
    border-bottom: 1px solid var(--primary-variant);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    justify-content: space-between;
    
}

.user-link {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.link-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.link-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    padding: .5rem;
    /* border-bottom: 1px solid var(--primary-variant);
    padding-bottom: .5rem; */
}

.link-btn,
.link-icon {
    display: flex;
    align-items: center;
    padding: .75rem;
    background: var(--primary-box);
    border-radius: 1rem;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 5;
}

.link-to-item {
    font-size: 2rem;
    cursor: pointer;
    color: var(--primary-text);
}

.underline  {
    width: 0;
    height: 100%;
    opacity: .1;
    border-radius: 1rem;
    position: absolute;
    transition: all 400ms ease-in-out;
}

.underline.body  {
    background: #E1FFEE;
}

.underline.goal  {
    background: #FFEEAF;
}
.underline.setting  {
    background: #F0ECE3;
}
.link-item:hover .underline {
    width: 100%;
}

.mail:hover .underline {
    background: #E1FFEE;
    width: 100%;
}

.body  {
    background: #E1FFEE;
    color: #7FBCD2;
}

.goal  {
    background: #FFEEAF;
    color: #F7A76C;
}

.setting  {
    background: #F0ECE3;
    color: #AD8B73;
}
@media screen and (max-width: 1500px) {
    .user-container {
        grid-template-columns: 1fr;
        max-width: 600px;
        padding: 2rem 0;
    }

    .user-avatar {
        gap: 3rem;
        padding: 2rem 0;
    }


    
}


@media screen and (max-width: 1000px) {
    .user-container {
        padding: 1rem;
        
    }

}

@media screen and (max-width: 600px) {
    .user-container  {
        margin-top: 2rem;
    }
}
