.my-goal-container {
    width: 600px;
    height: 750px;
    background: var(--primary-dashboard);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: scroll;
}

.backBtn {
    width: max-content;
    font-size: 2rem;
    color: var(--primary-text);
    padding: .5rem;
    border-radius: 1rem;
    background: var(--primary-box);
    display: flex;
    cursor: pointer;
    transition: var(--transition);
}

.backBtn:hover {
    opacity: .7;
}



@media screen and (max-width: 700px) {
    .my-goal-container {
        width: 100%;
        height: max-content;
    }    

    .my-goal-content {
        width: 90vw;
    }

    .content-group {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .user-content  {
        gap: 1rem;
    }

    .user-detail  {
        width: 100%;
    }
}

@media screen and  (max-width: 1500px) {
    .my-goal-content {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 3rem;
    }

    /* .charts {
        margin: 0;
        height: 400px;
    } */
}

.goal-title {
    background: var(--primary-box);
    color: var(--primary-text);
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 1rem;
    width: max-content;
    margin: auto;
    padding: .5rem .75rem;
}

.goal-item {
    background: var(--primary-box);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.goal-item .def,
.goal-item-list div {
    background: var(--primary-dashboard);
    padding: .5rem;
    border-radius: 1rem;
}

.goal-item ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.goal-item ul small  {
    background: var(--primary-dashboard);
    padding: .5rem;
    border-radius: 1rem;
    width: max-content;
}

.goal-item small {
    color: var(--primary-text);
}

.goal-item-header {
    background: var(--primary-text);
    width: max-content;
    padding: .5rem;
    border-radius: 1rem;
}

.goal-item h4 {
    background: var(--bg);
    color: var(--primary-text);
    width: max-content;
    padding: .5rem;
    border-radius: 1rem;
}

.goal-item-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}