.main-container {
    display: flex;
    margin-left: auto;
    margin-right: auto; 
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    height: max-content;
    padding: 20px 0;
    width: 600px;
}

.main-container h1 {
    font-size: small;
    margin-bottom: 0;
}

.contain {
    width: 100%;
    height: 100%;
}

.calendar-date {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    align-content: center;
}

.current-date {
    padding-left: 30px;
}

.toggles {
    display: flex; 
    align-items: center; 
    gap: 1rem; 
    padding-right: 30px;
}

.arrow {
    color: var(--primary-text);
    transition-property: all; 
    width: 1rem; 
    height: 1rem; 
    cursor: pointer;
}

.arrow:hover{
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05; 
}

.today {
    text-align: center;
    transition-property: all;
    cursor: pointer;
}

.today:hover {
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05; 
}

.days-box {
    display: grid; 
    width: 100%; 
    grid-template-columns: repeat(7, minmax(0, 1fr)); 
    justify-items: center !important;
}

.days {
    display: grid; 
    color: #6B7280; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    text-align: center; 
    place-content: center; 
    width: 3.5rem; 
    height: 3rem; 
    user-select: none;
}

.calendar-container {
    display: grid; 
    width: 100%; 
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.calendar-box {
    display: grid; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    place-content: center; 
    height: 3rem; 
    border-top-width: 1px;
}

.calendar-day {
    display: grid; 
    transition-property: all; 
    place-content: center; 
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 9999px; 
    cursor: pointer; 
    user-select: none; 
    transition: var(--transition);
}

.calendar-day:hover {
    background-color: white; 
    color: black; 
    cursor: pointer;
}

.currentMonthFalse {
    color: #9CA3AF; 
}

.todayTrue {
    display: grid; 
    transition-property: all; 
    place-content: center; 
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 9999px; 
    cursor: pointer; 
    user-select: none; 
    background-color: #DC2626; 
    color: white; 
    transition: var(--transition);
}

.selectDateTrue {
    display: grid; 
    transition-property: all; 
    place-content: center; 
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 9999px; 
    cursor: pointer; 
    user-select: none; 
    background-color: var(--primary-text);
    color: var(--bg);
}

.line {
    border-left: 1px solid var(--primary-text);
    height: 100%;
    position: absolute;
    left: -25px
}

.schedule {
    width: 100%;
    height: 24rem;
    position: relative;
}

.schedule-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.completed-container {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.schedule h1, p {
    font-size: large;
    text-align: left !important;
    color: var(--primary-text);
}

.calendar-plan-display {
    margin-top: 1rem;
}

.calendar-plan-display ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.calendar-plan-display ul li {
    list-style-type: none;
    font-size: 14px;
}

.calendar-plan-display ul h4 {
    background: var(--primary-box);
    width: max-content;
    padding: .25rem .75rem;
    border-radius: 1rem;
    
}

.check-btn {
    margin-top: 1rem;
}

.check-btn button {
    width: max-content;
    background: #EA5455;
}


.check-btn button:hover {
    color: #EA5455;
    border-color: #EA5455;
    background: transparent;
}

.check-btn  .reset {
    width: max-content;
}

.complete-btn {
    font-size: 2rem;
    cursor: pointer;
    color: var(--primary-variant);
    display: block;
    transition: var(--transition);
}

.complete-btn:hover {
    opacity: .5;
    
}

.completed {
    background: var(--primary-variant) !important;

}

.completed:hover {
    border-color: var(--primary-variant) !important;
    color: var(--primary-variant) !important;
    background: transparent !important;
}

@media (max-width: 1350px) { 
    .main-container {
        flex-direction: row; 
        height: max-content;
        border-left-width: 1px;
    }

    .contain {
        width: 100%;
        height: 100%;
    }

    .line {
        height: 20%;
    }
}

@media (max-width: 930px) {
    .main-container{
        flex-direction: column;
    }

    .line {
        border-top: 1px solid white;
        width: 100%;
        height: 0px !important;
        position: absolute;
        top: -25px;
        left: 0px;
    }
}
