* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    display: flex;
    min-height: 100vh;
    background-image: url('./bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem
}

.dashboard__container {
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 3rem;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    align-self: first baseline

}

.name ,.email {
    margin-bottom: 1rem;
}

.profile_btn{
    margin-bottom:1rem
}


.navBar1{
    color: aliceblue;
    align-self: first baseline;
    padding: 2rem;
}

.profile_btn2, .workout_btn2{
    margin-bottom: 2rem;
}
