* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    scroll-behavior: smooth;
}

.dashboard {
    background: var(--bg);
}

.nav-item {
    text-decoration: none;
    color: white;
}

.log-out-btn {
    color: white;
}

.dashboard-card {
    display: grid;
    grid-template-columns: max-content 1fr;
    min-height: 100vh;
    
}


@media screen and (max-width: 1000px) {
    .dashboard-card {
        grid-template-columns: 1fr;
    }
    
}