* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    scroll-behavior: smooth;
}

.dashboard {
    background: black;
}

a {
    text-decoration: none;
    color: white;
}

.log-out-btn {
    color: white;
}

.dashboard-card {
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 100vh;
    
}

.dashboard-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 4rem;
    background: rgba(255, 255,255,.1);
}

.nav-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}