* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    
}

.profile__container {
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 5rem;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.name ,.email {
    margin-bottom: 1rem;
}