.workout-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 800px;
    max-width: 1200px;
    width: 100%;
    transition: var(--transition);
}

.workout-features {
    background: linear-gradient( 195deg, var(--primary-dashboard), var(--primary-variant));
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 3rem;
    transition: all 400ms ease-out;
    
}

.workout-card :last-child {
    background: linear-gradient( 135deg, var(--primary-dashboard), var(--primary-variant));
    

}

.workout-features:hover {
    border: 1px solid var(--primary-variant);
    background: transparent;
}

.workout-features .btn {
    width: max-content;
    padding: 1rem 2rem;
    font-weight: 900;
    background: var(--primary-variant);
    color: var(--bg);
}

.workout-features .btn .log-plan {
    text-decoration: none;
    background: transparent;
    color: var(--bg);
}

.workout-features .icon {
    color: var(--primary-text);
    font-size: 9rem;
}

.workout-features .btn:hover {
    background: transparent;
    color: var(--primary-variant);
    border: 1px solid var(--primary-variant);
}

.workout-features h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary-text);
}

@media screen and (max-width: 1500px) {
    .workout-card {
        grid-template-columns: 1fr;
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .workout-features h3 {
        font-size: 1.5rem;
    }
}