.to-sign-up {
    color: var(--primary-variant);
    text-decoration: none;
    font-weight: 400;
}

.container.left.log-in {
    background-image: url('./banner-login.jpg');
    background-size: cover;
    
}

.forget-password {
    display: flex;
    justify-content: right;
}

.forget {
    font-size: .75rem;
    color: var(--primary-variant);
    text-decoration: none;
}

.google-logo {
    width: 3rem;
}
