.to-sign-up {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
}

.forget-password {
    display: flex;
    justify-content: right;
}

.forget {
    font-size: .75rem;
    color: var(--primary);
    text-decoration: none;
}

.google-logo {
    width: 3rem;
}
