.menu-bars {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    background: none;
    color: #000;
    padding: top 2rem;
    display: inline-block;
  }
  
  .user-name {
    font-weight: 900;
    color: var(--primary-text);
  }
  .nav-menu {
    background: var(--primary-dashboard);
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    top: 0;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
  }

  .active {
    width: 90px;
    
  }

  .items {
    transition: var(--transition);
    
    
  }
  
  .nav-text {
    color: var(--primary-text);
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    width: 800px;
  
  }
  
  .nav-text a {
    text-decoration: none;
    color: var(--primary-variant);
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    transition: var(--transition);

  }
  
  .nav-text a:hover {
    background-color: var(--primary-variant);
    color: var(--bg);
  }

  
  .nav-menu-items {
    width: 100%;
    margin-top: 5rem;
    border-bottom: 1px solid var(--primary-box);
    border-width: 80%;
    
  }

  .toggle {
    font-size: 25px;
    position: absolute;
    z-index: 5 !important;
    color: var(--primary-variant);
    top: 40%;
    /* right: -29px; */
    cursor: pointer;
    transition: var(--transition);
    padding: 1rem;
  }

  .toggle-out  {
    transform: rotate(180deg);
  }

  .toggle:hover {
    font-size: 35px;
  }

  span {
    margin-left: 16px;
  }


  nav {
    border-radius: 0px 74px 74px 0px;
  -webkit-border-radius: 0px 74px 74px 0px;
  -moz-border-radius: 0px 74px 74px 0px;
  }

  .log-out-btn {
    position: absolute;
    left: 28%;
    bottom: 2rem;
    color: var(--primary-variant);
    padding: 1rem;
    border: 1px solid var(--primary-variant);
    border-radius: 1rem;
    transition: var(--transition);
    font-weight: 900;
  }

  .log-out-btn:hover {
    background: var(--primary-variant);
    color: var(--bg);
  }

  .avatar {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    margin: 0 .5rem;
    background: var(--primary-box);
    width: max-content;
  }

  .burger-dropdown {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: left;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    /* bottom: -60px; */
  }

  .burger-dropdown div {
    content: '';
    border-radius: 1rem;
    width: 45px;
    height: 5px;
    margin-bottom: .5rem;
    background: var(--primary-text);
    bottom: -50px;
    transition: var(--transition);
  }

  .burger-close {
    display: none;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
  }

  .burger-close div {
    content: '';
    border-radius: 1rem;
    width: 45px;
    height: 5px;
    margin-bottom: .5rem;
    background: var(--primary-text);
  }

  .light-dark {
    position: absolute;
    border-radius: 2rem;
    overflow: hidden;
    bottom: 8rem;
    left: 4.5rem;
    display: flex;
    width: max-content;
  }

  .light-dark button {
    border-radius: 0 !important;
    font-size: 1.5rem;
    padding: .5rem .75rem;
    display: flex;
    align-items: center;
  }

  .light-dark button:hover {
    border: transparent;
  }

  .light-dark .light {
    border-right: 1px solid var(--bg);
  }

  @media screen and (max-width: 1350px) {

    span.items,
    .log-out-btn,
    .user-name {
      display: block !important;
    }

    .light-dark {
      display: flex !important;
    }

    .burger-dropdown {
      display: flex;
      cursor: pointer;
    }

    .burger-dropdown:hover div {
      background: var(--primary-variant);
    }

    .burger-close {
      display: block;
      cursor: pointer;
      border-radius: 100%;
    }

    .burger-close :first-child,
    .burger-close :last-child,
    .burger-close .sec  {
      transition: all 450ms ease-in-out;
    }


    .burger-close:hover :first-child {
      background: var(--primary-variant);
      transform: rotate(405deg) translate(9px, 9px);
    }

    .burger-close:hover :last-child {
      background: var(--primary-variant);
      transform: rotate(-405deg) translate(9px, -9px);
    }

    .burger-close:hover .sec {
      opacity: 0;
    }

     

    .nav-menu {
      width: 100%;
      height: 470px;
      margin-bottom: 4rem;
      position: fixed;
      z-index: 5;
      top: -100%;
      backdrop-filter: blur(10px);
      background: var(--primary-dropdown);
      
    }


    nav  {
      border-radius: 0;
    
    }
    .nav-menu-items {
      /* display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start; */
      
      margin: 0;
      padding: 2rem 1rem;
    }

    .log-out-btn {
      left: 3rem;
      bottom: 5%;
    }

    .light-dark {
      bottom: 5%;
      left: 12rem;
    }

    .toggle {
      display: none;
    }

    .items,
    .nav-icons {
      position: relative;
      visibility:visible;
    }

    .show {
      top: 0;
    }

    .inactive  {
      top: -100%;
    }
  }
