.personal-plan {
    display: flex;
    flex-direction: column;
    color: var(--primary-text);
    width: 900px;
    height: 900px;
    background: var(--primary-dashboard);
    border-radius: 1rem;
    padding: 1rem;
}

.personal-plan h2 {
    color: var(--primary-text);
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

/* .personal-plan-title {
    display: flex;
} */

.workout-day {
    background: var(--primary-box);
    border-radius: 1rem;
    padding: .75rem;
    overflow: hidden;
    height: 45px;
    margin: 1rem 0;
    margin-top: 1rem;
}

.active-day {
    display: block !important;
}

.type-item {
    height: max-content;
    overflow: hidden;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.week-day {
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: 900;
}

.pressed {
    transition: all 800ms ease;
    box-shadow: -1px 1px 59px -10px rgba(164,251,166,0.64);
-webkit-box-shadow: -1px 1px 59px -10px rgba(164,251,166,0.64);
-moz-box-shadow: -1px 1px 59px -10px rgba(164,251,166,0.64);
}

.type {
    background: var(--bg);
    width: max-content;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 300;
}

.exercise {
    background: var(--primary-dashboard);
    padding: 1rem .5rem;
    border-radius: 1rem;
}

.last {
    margin-bottom: 0rem !important;
}

.rest {
    background: var(--primary-box);
    padding: .75rem;
    border-radius: 1rem;
    text-transform: capitalize;
    color: var(--primary-variant);
}


.personal-plan .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.tabs-content {
    position: absolute;
    width: 100%;
    overflow: hidden;
    left: 0;
    top: 6rem;
    z-index: 2;
    display: none;
    background: var(--primary-box);
    border-radius: 1rem;
    padding: 1rem;
}