.personal-plan {
    display: flex;
    flex-direction: column;
    color: var(--primary-text);
    width: 900px;
    height: 300vh;
    /* background: var(--primary-dashboard); */
    border-radius: 1rem;
    padding: 3rem 1rem;
}

.personal-plan h2 {
    color: var(--primary-text);
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}

.personal-plan-manage h3 {
    padding: .5rem 1rem;
    background: var(--primary-box);
    border-radius: 1rem;
}

.personal-plan-manage {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.manage-btn {
    background: var(--primary-box);
    padding: .5rem;
    border-radius: 1rem;
    border: 1px solid #FC2947;
    color: #FC2947;
    font-weight: 900;
    cursor: pointer;
    transition: var(--transition);
}

.start-btn {
    font-weight: 900;
    padding: .5rem;
    border: 1px solid #FBF46D;
    border-radius: 1rem;
    color: #FBF46D;
    background: var(--primary-box);
    transition: var(--transition);
    cursor: pointer;
}

.start {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.start-date {
    background: var(--primary-box);
    padding: .5rem;
    border: 1px solid var(--primary-variant);
    border-radius: 1rem;
    font-weight: 900;
    color: var(--primary-variant);
    transition: var(--transition);
}

.start-date:hover {
    background: var(--primary-variant);
    color: var(--bg);
}

.start-btn:hover {
    background: #FBF46D;
    color: var(--bg);
}

.manage-btn:hover {
    background: #FC2947;
    color: var(--bg);
}

.start-reset-icon {
    color: var(--primary-variant);
    font-size: 1.5rem;
    transition: var(--transition);
    cursor: pointer;
}

.start-reset-icon:hover {
    color: #EA5455;
}

.personal-plan-title {
    margin-bottom: 2rem;
}


.active-day {
    display: block !important;
}

.type-item {
    height: 0;
    overflow: hidden;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.active-type-item {
    height: max-content;
}

.active-type-icon {
    transform: rotate(180deg);
}


.week-day {
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: 900;
    padding: .5rem;
    border-radius: 1rem;
    background: var(--primary-box);
}

.week-day-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.pressed {
    transition: all 1000ms ease;
    border-bottom: 1px solid var(--primary-variant);
    
}

.type {
    background: var(--bg);
    width: max-content;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 300;
    transition: var(--transition);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.type-icon {
    font-size: 1.5rem;
    transition: var(--transition);
}

.type:hover {
    font-weight: 900;
}

.exercise {
    background: var(--primary-dashboard);
    padding: 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    transition: var(--transition);
}

.exercise:hover {
    background: var(--primary-box);
}

.exercise-img {
    width: 100px;
    height: 120px;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large {
    width: 200px;
    height: 280px;
}

.exercise-img img {
    transform: scale(1.2);
}

.exercise-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.exercise-instruction {
    width: 50%;
    line-height: 1.7;
}

.exercise-instruction .read-more {
    font-weight: 900;
    cursor: pointer;
    transition: var(--transition);
}

.exercise-instruction .read-more:hover {
    color: var(--primary-variant);
}

.exercise-instruction span {
    margin: 0;
    margin-right: .2rem;
    font-weight: 600;
    border: 1px solid var(--primary-text);
    color: var(--primary-text);
    padding: .25rem .5rem;
    border-radius: 1rem;
    
}


.exercise-details  .rep-set {
    color: var(--primary);
    display: flex;
    flex-wrap: wrap;
}

.rep span,
.set span {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.rep span::after,
.set span::after {
  content: "";
  position: static;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.rep:hover span,
.set:hover span {
    visibility: visible;
    opacity: 1;
}

.rep, .set {
    margin: 0 4px;
}

.last {
    margin-bottom: 0rem !important;
}

.rest {
    background: var(--primary-box);
    padding: .75rem;
    border-radius: 1rem;
    text-transform: capitalize;
    color: var(--primary-variant);
}


.personal-plan .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.tabs-content {
    position: absolute;
    width: 100%;
    overflow: hidden;
    left: 0;
    top: 6rem;
    z-index: 2;
    display: none;
    background: var(--primary-box);
    border-radius: 1rem;
    padding: 1rem;
}

.exercise-detail-tab  {
    width: 900px;
    height: max-content;
    position: fixed;
    background: var(--primary-dropdown);
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    top: 20rem;
    z-index: 5;
    display: none;
    color: var(--primary-text);
    
}

.detail-active {
    display: block;
}

.exercise-detail-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
}

.manage-plan-tab {
    width: 500px;
    height: max-content;
    position: fixed;
    background: var(--primary-dropdown);
    backdrop-filter: blur(7px);
    border-radius: 1rem;
    top: 20rem;
    z-index: 5;
    display: none;
}

.manage-plan-content {
    color: var(--primary-text);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 2rem;
}

.manage-plan-item {
    margin-left: 2rem;
}

.manage-plan-item select {
    padding: .2rem;
    border-radius: 1rem;
    color: var(--primary-text);
    background: var(--primary-box);
}

.manage-plan-item h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.manage-plan-item .item-details {
    text-transform: capitalize;
    font-weight: 300;
}

.manage-plan-item .item-title {
    background: var(--primary-variant);
    color: var(--bg);
    padding: .5rem .75rem;
    border-radius: 1rem;
}

.manage-plan-btn {
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel-btn {
    background: #FC2947;
}

.cancel-btn:hover {
    border-color: #FC2947;
    color: #FC2947;
}

.active-manage {
    display: block;
}

.edit-icon {
    color: var(--primary-variant);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .personal-plan {
        width: 700px;
    }

    .week-day {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 1000px) {
    .personal-plan  {
        width: 90vw;
    }
}
